[submodule "third-party/micropython"]
	path = third-party/micropython
	url = https://github.com/micropython/micropython.git
[submodule "ports/esp32/third-party/esp-idf"]
	path = ports/esp32/third-party/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "scripts/third-party/run-clang-format"]
	path = scripts/third-party/run-clang-format
	url = https://github.com/Sarcasm/run-clang-format.git
[submodule "third-party/nanopb"]
	path = third-party/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "src/cmodules/sicgl/third-party/sicgl"]
	path = src/cmodules/sicgl/third-party/sicgl
	url = https://github.com/oclyke/sicgl.git
[submodule "src/packages/microdot"]
	path = src/packages/microdot
	url = https://github.com/miguelgrinberg/microdot
[submodule "src/cmodules/chinvat/third-party/chinvat"]
	path = src/cmodules/chinvat/third-party/chinvat
	url = https://github.com/custom-litt/chinvat
[submodule "src/cmodules/ftt/third-party/fakufaku"]
	path = src/cmodules/ftt/third-party/fakufaku
	url = https://github.com/fakufaku/esp32-fft
[submodule "src/cmodules/noise/third-party/open-simplex-noise-in-c"]
	path = src/cmodules/noise/third-party/open-simplex-noise-in-c
	url = https://github.com/smcameron/open-simplex-noise-in-c
